---
title: "Current People"
layout: default
excerpt: "Members of the ixlab"
sitemap: false
permalink: /people/
---

<h1>{{page.title}}</h1>

<!-- Professors -->

<h2><a id="professor"></a>Professors</h2>
{% assign members = site.posts | where: 'category', 'professor' | sort: 'order' %}
{% for member in members %}
{% assign mod = forloop.length | modulo: 2 %}
{% cycle 'professorStart': '<div class="card team-member-card">
    <div class="row mt-3">', '' %}
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/people/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-4">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
{% cycle 'professorEnd': '', '</div>
    </div>' %}
{% if forloop.last and mod == 1 %}
</div>
    </div>
{% endif %}
{% endfor %}

<!-- Lecturers -->

<h2><a id="lecturer"></a>Lecturers</h2>
{% assign members = site.posts | where: 'category', 'lecturer' | sort: 'date' %}
{% for member in members %}
{% assign mod = forloop.length | modulo: 2 %}
{% cycle 'lecturerStart': '<div class="card team-member-card">
    <div class="row mt-3">', '' %}
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/people/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-4">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
{% cycle 'lecturerEnd': '', '</div>
    </div>' %}
{% if forloop.last and mod == 1 %}
</div>
    </div>
{% endif %}
{% endfor %}

<!-- Postdocs -->

<h2><a id="postdoc"></a>Postdocs</h2>
{% assign members = site.posts | where: 'category', 'postdoc' | sort: 'date' %}
{% for member in members %}
{% assign mod = forloop.length | modulo: 2 %}
{% cycle 'postdocStart': '<div class="card team-member-card">
    <div class="row mt-3">', '' %}
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/people/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-4">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
{% cycle 'lecturerEnd': '', '</div>
    </div>' %}
{% if forloop.last and mod == 1 %}
</div>
    </div>
{% endif %}
{% endfor %}

<!-- PhDs -->

<h2><a id="phd"></a>PhDs</h2>
{% assign members = site.posts | where: 'category', 'phd' | sort: 'order' %}
{% for member in members %}
{% assign mod = forloop.length | modulo: 2 %}
{% cycle 'phdStart': '<div class="card team-member-card">
    <div class="row mt-3">', '' %}
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/people/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-4">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
{% cycle 'phdEnd': '', '</div>
    </div>' %}
{% if forloop.last and mod == 1 %}
</div>
    </div>
{% endif %}
{% endfor %}

<!-- Masters -->

<h2><a id="master"></a>Masters</h2>
{% assign members = site.posts | where: 'category', 'master' | sort: 'order' %}
{% for member in members %}
{% assign mod = forloop.length | modulo: 2 %}
{% cycle 'masterStart': '<div class="card team-member-card">
    <div class="row mt-3">', '' %}
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/people/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
{% cycle 'masterEnd': '', '</div>
    </div>' %}
{% if forloop.last and mod == 1 %}
</div>
    </div>
{% endif %}
{% endfor %}

<!-- Undergrads -->

<h2><a id="undergrad"></a>Undergrads</h2>
{% assign members = site.posts | where: 'category', 'undergrad' | sort: 'order' %}
{% for member in members %}
{% assign mod = forloop.length | modulo: 2 %}
{% cycle 'undergradStart': '<div class="card team-member-card">
    <div class="row mt-3">', '' %}
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/people/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-4">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
{% cycle 'undergradEnd': '', '</div>
    </div>' %}
{% if forloop.last and mod == 1 %}
</div>
    </div>
{% endif %}
{% endfor %}

<!-- Research Assistants -->

<h2><a id="ra"></a>Research Assistants</h2>
{% assign members = site.posts | where: 'category', 'ra' | sort: 'order' %}
{% for member in members %}
{% assign mod = forloop.length | modulo: 2 %}
{% cycle 'raStart': '<div class="card team-member-card">
    <div class="row mt-3">', '' %}
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/people/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-4">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
{% cycle 'raEnd': '', '</div>
    </div>' %}
{% if forloop.last and mod == 1 %}
</div>
    </div>
{% endif %}
{% endfor %}

<!-- Alumni -->

<h2><a id="alumni"></a>Alumni</h2>
{% assign members = site.posts | where: 'category', 'alumni' | sort: 'order' %}
{% for member in members %}
{% assign mod = forloop.length | modulo: 2 %}
{% cycle 'alumniStart': '<div class="card team-member-card">
    <div class="row mt-3">', '' %}
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/people/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-4">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
{% cycle 'alumniiEnd': '', '</div>
    </div>' %}
{% if forloop.last and mod == 1 %}
</div>
    </div>
{% endif %}
{% endfor %}

<!-- Staff

<h2><a id="staff"></a>Staff</h2>
{% assign members = site.posts | where: 'category', 'staff' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="filter: grayscale(100%); max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
-->

<!-- Students

<h2><a id="student"></a>Students</h2>
{% assign members = site.posts | where: 'category', 'student' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/people/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
-->

<p>&nbsp</p>